.book{
    position: relative; 
    border-radius: 0.5em;
    width: 12em;
    height: 16em;
    flex: 0 0 23%;
    break-inside: avoid;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.63);
    transition: ease-in-out 0.4s;
}

.book:hover{
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 255, 0.5);
    cursor: pointer;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 3em;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    font-family: monospace;
    font-size: 1.2em;
    padding-left: 0.3em;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.title{
    font-size: 1.1em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.title:hover{
    overflow: visible; 
    white-space: normal; 
}