.inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.querybox{
    top: 0;
    width: 40%;
    min-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.queryRut{
    width: 85%;
    height: 100%;    
    border: solid 1px rgba(0,0,0,0.63);
    border-radius: 0.5em;
    box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.63);
    text-align: center;
    transition: ease-in-out 0.4s;
    font-size: 1.5em;
}
.queryRut:focus{
    outline: none;
    border: solid 1px rgb(87, 87, 255);
    box-shadow: 0px 10px 20px -4px rgb(87, 87, 255);
}

.queryRut::placeholder{
    color: rgba(0,0,0,0.63);
    font-weight: bold;
}

.btnBuscar{
    width: 10%;
    height: 70%;
    background-color: rgb(87, 87, 255);
    box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.63);

    color: white;
    border: none;
    border-radius: 0.5em;
    transition: ease-in-out 0.4s;
}

.btnBuscar:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 10px 20px -4px rgb(87, 87, 255);

}

.prestamos{
    margin-top: 2em;
    width: 95%;
    overflow-y: auto;
}
.prestamos-list{ 
    width: 100%;
    column-count: 6;
    column-gap: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
}
.prestamos::-webkit-scrollbar{
    display: none;
}