*{
    padding: 0;
    max-width: 100%;
    margin: 0;
}

.logo{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}
.navbar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96vw;
    margin: 0 2vw 5vh 2vw;
    height: 4em;
    box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.63);
}
.navbar-box a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    width: 15em;
    height: 1.5em;
    border-radius: 0.3em;
    background-color: rgb(87, 87, 255);
    box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.63);
    
    transition: ease-in-out 0.4s;

}
.navbar-box a:hover{
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 255, 0.5);

}

.inner-box{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    list-style: none;
}